streamlit
moviepy
imageio
imageio-ffmpeg
ffmpeg-python
faiss-cpu
sentence-transformers
groq
python-dotenv
openai
openai-whisper
yt-dlp>=2023.12.30
langchain
supabase
psycopg2-binary

tqdm
numpy
pandas
python-magic
PyPDF2
python-docx
openpyxl
python-pptx
